<div class="o-card__container">
	<div class="o-card o-card--landscape o-card--image- {{#isMarketsLive}}card--marketslive{{/isMarketsLive}}" data-o-component="o-card">
		<div class="o-card__content">
			{{#isMarketsLive}}
			<div class="o-card__meta">
				<a href="/marketslive" class="o-card__tag {{#isLive}}marketslive-live-title{{/isLive}}">
					Markets
					{{^isLive}}Live{{/isLive}}
					{{#isLive}}
						<strong>Live</strong>
						<span class="marketslive-live-lozenge-icon"></span>
					{{/isLive}}
				</a>
			</div>
			{{/isMarketsLive}}
			{{^isMarketsLive}}
			<div class="o-card__meta">
				<a href="/search?q={{_source.byline}}" class="o-card__tag">{{_source.byline}}</a>
			</div>
			{{/isMarketsLive}}

			<h3 class="o-card__heading"><a href="/content/{{_source.id}}">{{_source.title}}</a></h3>

			<p class="o-card__standfirst">{{{_source.summaries}}}</p>

			<time data-o-component="o-date" class="o-date o-card__timestamp" datetime="{{_source.publishedDate}}">{{_source.publishedDate}}</time>
		</div>

	</div>
</div>
