<div class="o-card__container">
    <div class="o-card o-card--landscape o-card--image-" data-o-component="o-card">

        <div class="o-card__content">
            <div class="o-card__meta">
                <a href="/search?q={{_source.byLine}}" class="o-card__tag">{{_source.byline}}</a>
            </div>

            <h2 class="o-card__heading"><a href="/content/{{_source.id}}">{{_source.title}}</a></h2>

            <p class="o-card__standfirst">{{{_source.summaries}}}</p>

            <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="{{_source.publishedDate}}">{{_source.publishedDate}}</time>
        </div>

    </div>
</div>
