<div class="main hero" data-o-grid-colspan="12 S12 M8 XL6">

  <div class="o-card o-card-- o-card--image-" data-o-component="o-card">

    <div class="o-card__content">

      <div class="o-card__meta card-primaryTheme">
        <a href="#" class="o-card__tag">{{_source.primaryTheme}}</a>
      </div>

      <h2 class="o-card__heading"><a href="{{_webUrl}}">{{_source.title}}</a></h2>

      <div class="clearfix">

        <div style="float:left">
          <div class="o-card__meta byline">
             by: <a href="#" class="o-card__tag">{{_source.byline}}</a>
          </div>

          <div class="post-openingHTML">
            {{{_source.openingHTML}}}
          </div>

          <div class="card-footer clearfix">
            <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="{{_source.publishedDate}}">{{_source.publishedDate}}</time>

            {{#_source.comments.enabled}}
            <a href="#comments" class="article__share__comments" data-o-component="o-comment-count" data-o-comment-count-config-article-id="{{_source.id}}" data-o-comment-count-config-template="{count}"></a>
            {{/_source.comments.enabled}}
          </div>

        </div>
        <div style="float:right">
          <img class="heroImage" src="https://pbs.twimg.com/media/Cjdd7NVWYAAXA6p.jpg" width="250">
        </div>

      </div>





    </div>

  </div>

</div>
