<div class="main {{_source.cardType}}" data-o-grid-colspan="12 S6 M4 XL4">

  <div class="o-card o-card-- o-card--image-" data-o-component="o-card">

    <div class="o-card__content">

      {{#_source.primaryTheme}}
      <div class="o-card__meta card-primaryTheme">
        <a href="#" class="o-card__tag">{{this}}</a>
      </div>
      {{/_source.primaryTheme}}

      <h2 class="o-card__heading"><a href="{{_webUrl}}">{{_source.title}}</a></h2>

      <div class="post-openingHTML">{{{_source.openingHTML}}}</div>

      <div class="card-footer clearfix">
        <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="{{_source.publishedDate}}">{{_source.publishedDate}}</time>

        {{#_source.comments.enabled}}
        <a href="#comments" class="article__share__comments" data-o-component="o-comment-count" data-o-comment-count-config-article-id="{{_source.id}}" data-o-comment-count-config-template="{count}"></a>
        {{/_source.comments.enabled}}
      </div>

    </div>

  </div>

</div>

