<div class="main {{_source.cardType}}" data-o-grid-colspan="12 S6 M4 XL4">

  <div class="o-card o-card-- o-card--image-" data-o-component="o-card">

    <div class="o-card__content">

      <div class="o-card__meta card-primaryTheme">
        <a href="/marketslive" class="o-card__tag">{{_source.primaryTheme}}</a>
      </div>

      <h2 class="o-card__heading"><a href="{{_webUrl}}">{{{_source.title}}}</a></h2>

      <div class="post-openingHTML">
        <div class="description">This Markets Live session is closed. <a href="{{_webUrl}}">Read more</a></div>
        <p>Live markets commentary from FT.com</p>
      </div>

      <div class="card-footer clearfix">
        <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="{{_source.publishedDate}}">{{_source.publishedDate}}</time>
        {{>comment_counter}}
      </div>

    </div>

  </div>

</div>

