<div class="main {{_source.cardType}}" data-o-grid-colspan="12 S6 M4 XL4">

	<div class="o-card o-card-- o-card--image-" data-o-component="o-card">

		<div class="o-card__content">

			{{#_source.primaryTheme}}
			<div class="o-card__meta card-primaryTheme">
				<a href="/search?q={{this}}" class="o-card__tag">{{this}}</a>
			</div>
			{{/_source.primaryTheme}}

			<h2 class="o-card__heading"><img class="headshot" src="{{_source.headshot}}" width="60" height="60" style="border-radius:50%; display:inline; margin-right:5px;" align="left"><a href="{{_webUrl}}">{{_source.title}}</a></h2>

			<div class="post-openingHTML">{{{_source.summaries}}}</div>

			<div class="card-footer clearfix">
				<time data-o-component="o-date" class="o-date o-card__timestamp" datetime="{{_source.publishedDate}}">{{_source.publishedDate}}</time>
				{{>comment-counter}}
			</div>


		</div>

	</div>

</div>


