<div class="alphaville-card-container {{_source.cardType}}" data-o-grid-colspan="12 S6 M4 XL4">
	<div class="alphaville-card alphaville-card--fill-space o-card o-card-- o-card--image-" data-o-component="o-card">
		<div class="o-card__content">
			<div class="o-card__meta card-primaryTheme">
				<a href="/search?q={{_source.primaryTheme}}" class="o-card__tag">{{_source.primaryTheme}}</a>
			</div>

			<h2 class="o-card__heading"><a href="{{_webUrl}}">{{{_source.title}}}</a></h2>


			<div class="o-card__standfirst"><img src="{{_source.mainImage.url}}" alt="{{_source.mainImage.title}}" title="{{_source.mainImage.title}}" width="72" height="72">{{{_source.summaries}}}</div>

			{{>comment-counter}}
			<time data-o-component="o-date" class="o-date o-card__timestamp" datetime="{{_source.publishedDate}}">{{_source.publishedDate}}</time>
		</div>
	</div>
</div>
