<div class="main {{_source.cardType}}" data-o-grid-colspan="12 S6 M4 XL4">

  <div class="o-card o-card-- o-card--image-" data-o-component="o-card" style="background:linear-gradient(rgba(114, 0, 0, 0.85),rgba(255, 0, 0, 0.45)), url({{_source.mainImage.url}});">

    <div class="o-card__content">

      {{#_source.primaryTheme}}
      <div class="o-card__meta card-primaryTheme">
        <a href="#" class="o-card__tag">{{this}}</a>
      </div>
      {{/_source.primaryTheme}}

      <h2 class="o-card__heading"><a href="{{_webUrl}}">{{_source.title}}</a></h2>

      <div class="post-openingHTML">{{{_source.summaries}}}</div>

    </div>

  </div>

</div>
