{{#curationOptions}}
	<div class="alphaville-card-curation">
		{{#hero}}
			<span class="alphaville-card-curation__field o-forms-field o-forms-field--inline">
				<span class="o-forms-input o-forms-input--checkbox">
					<label>
						<input type="checkbox" id="alphaville-card-curation-hero-{{../../id}}" name="alphaville-card-curation-hero" value="{{value}}" {{#selected}}checked="checked"{{/selected}}>
						<span class="o-forms-input__label" for="alphaville-card-curation-hero-{{../../id}}">{{label}}</span>
					</label>
				</span>
			</span>
		{{/hero}}

		<span class="alphaville-card-curation__field o-forms-field o-forms-field--inline">
			<span class="o-forms-input o-forms-input--select o-forms-input--small">
				<select name="alphaville-card-curation-type" data-last-selected="{{selected}}" {{#disabled}}disabled="disabled"{{/disabled}}>
					{{#options}}
						<option value="{{value}}" {{#selected}}selected="selected"{{/selected}} {{#disabled}}disabled="disabled"{{/disabled}}>{{label}}</option>
					{{/options}}
				</select>
			</span>
		</span>
	</div>
{{/curationOptions}}
