{{#curationOptions}}
	<div class="alphaville-card-curation">
		{{#hero}}
			<input type="checkbox" id="alphaville-card-curation-hero-{{../../id}}" name="alphaville-card-curation-hero" value="{{value}}" class="o-forms__checkbox o-forms__checkbox--small" {{#selected}}checked="checked"{{/selected}} />
			<label class="o-forms__label" for="alphaville-card-curation-hero-{{../../id}}">{{label}}</label>
		{{/hero}}
		
		<select class="o-forms__select o-forms__select--small" name="alphaville-card-curation-type" data-last-selected="{{selected}}" {{#disabled}}disabled="disabled"{{/disabled}}>
			{{#options}}
				<option value="{{value}}" {{#selected}}selected="selected"{{/selected}} {{#disabled}}disabled="disabled"{{/disabled}}>{{label}}</option>
			{{/options}}
		</select>
	</div>
{{/curationOptions}}
