<div class="alphaville-content-box alphaville-recent-post">
	<h4 class="alphaville-content-box__title">Read next:</h4>

	<div class="alphaville-card__theme">
		<a href="{{primaryTheme.url}}" class="alphaville-card__tag" data-trackable="theme">{{primaryTheme.label}}</a>
	</div>

	<div>
		<a class="recent-post__link" href="{{webUrl}}">{{title}}</a>
	</div>
	
	<time data-o-component="o-date" class="o-date alphaville-card__timestamp" datetime="{{publishedDate}}">{{publishedDate}}</time>
</div>