{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/article.css" />
	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/article.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

<div class="article__header">
	<div class="o-grid-container">
		<div class="article__header-inner o-grid-row">

			<div data-o-grid-colspan="12 L8 XL7 XLoffset1">
				<header class="article__header--wrapper ">
					<div class="article__header-primary">

            <!-- div class="article__primary-theme" data-trackable="primary-theme"><a href="#" class="n-content-tag n-content-tag--medium n-content-tag--with-follow">{{primaryTheme}}</a></div -->

  					<h1 class="article__title">{{article.title}}</h1>

  				</div>
					<!-- div class="article__header-secondary">
							<div class="article__brand--wrapper">
								<a class="article__brand--title n-content-tag" href="#" data-trackable="brand">{{brand}}</a>
							</div>
					</div -->
				</header>
			</div>

			<!-- aside class="article__aside o-grid-remove-gutters--XL" data-o-grid-colspan="hide L4 XL3 XLoffset1" data-trackable="next-up-header" role="complementary" aria-hidden="true">
				<div class="next-up next-up__header">
					<h3 class="next-up__intro next-up__intro__header">Read latest:</h3>
					<article>
						<a href="#" class="next-up__headline" data-trackable="headline-link--topic--moreRecent">Lorem ipsum</a>
						<time class="next-up__timestamp next-up__timestamp__more-recent o-date" data-o-component="o-date" datetime="2016-05-18T14:52:53Z" data-o-date-js="" title="May 18, 2016 3:52 pm" aria-label="28 minutes ago">28 minutes ago</time>
					</article>
				</div>
			</aside -->

		</div>
	</div>
</div>

<div class="article__wrapper ">
	<div class="o-grid-container">
		<div class="article__main o-grid-row">
			<div data-o-grid-colspan="12 L8 XL7 XLoffset1">

        {{> shareComponent position='top'}}

				<div class="article__time-byline">
					<time class="article__timestamp o-date" data-o-component="o-date" datetime="{{article.publishedDate}}" data-o-date-js="" title="{{article.publishedDate}}" aria-label="{{article.publishedDate}}">{{article.publishedDate}}</time>
					<p class="article__byline">by: {{article.byline}}</p>
				</div>

				<div class="article__body n-content-body">
				{{{article.bodyHTML}}}

        <small>
          <a href="http://www.ft.com/servicestools/help/copyright" data-trackable="link-copyright">Copyright</a> The Financial Times Limited 2016. All rights reserved. You may share using our article tools. Please don't cut articles from FT.com and redistribute by email or post to the web.
        </small>


				</div>

        {{> shareComponent position='bottom'}}
        <div data-n-article-email-bottom-container=""></div>

				{{#article.comments.enabled}}
				<div data-o-component="o-comments" data-o-comments-config-title="FT Alphaville2 Blogs Test" data-o-comments-config-url="https://ftalphaville2.ft.com/content/{{article.id}}" data-o-comments-config-articleId="{{article.id}}"></div>
				{{/article.comments.enabled}}

			</div>
			<div class="article__aside o-grid-remove-gutters--XL" data-o-grid-colspan="0 L4 XL3 XLoffset1">
				{{> twitterWidget}}
			</div>
		</div>
	</div>
</div>


{{> commentsConfig}}
