{{#contentFor "head"}}
    <meta property="og:title" content="{{{article.title}}}">
    <meta property="og:url" content="{{{article.webUrl}}}">
    <meta property="og:description" content="{{{article.standfirst}}}">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Financial Times">

    <meta property="twitter:site" content="@FTAlphaville">
    <meta property="twitter:title" content="{{{article.title}}}">
    <meta property="twitter:description" content="{{{article.standfirst}}}">
    <meta property="og:url" content="{{{article.webUrl}}}" />

    {{#article.mainImage}}
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:image" content="{{{url}}}">
    <meta property="og:image" content="{{{url}}}" />
    {{/article.mainImage}}

    {{^article.mainImage}}
    <meta property="twitter:card" content="summary">
    {{/article.mainImage}}

    <link rel="amphtml" href="https://amp.ft.com/content/{{article.id}}" />

	<link rel="stylesheet" href="{{assetsBasePath}}/build/article.css" />
	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/article.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}



<div class="article__wrapper" data-trackable="article">
    <div class="o-grid-container">
        <div class="o-grid-row">
            <div data-o-grid-colspan="12 L8 XL7 XLoffset1">
                <div class="article__header">


                    <div class="article__primary-theme">
                    {{#article.primaryTheme}}
                        <a href="{{url}}" class="n-content-tag n-content-tag--medium n-content-tag--with-follow" data-trackable="primary-theme" aria-label="posted in category Jaguar Land Rover">{{label}}</a>
                    {{/article.primaryTheme}}
                    </div>

                    <div class="article__header-inner o-grid-row">
                        <header class="article__header--wrapper " data-o-grid-colspan="12">
                            <div class="article__header-primary">
                                <h1 class="article__title">{{{article.title}}}</h1>
                            </div>
                        </header>
                    </div>
                </div>
                <div class="article__main">
                    {{> alphaville-ui/share/main position='top'}}

                    <div class="article__time-byline">
                        <time class="article__timestamp o-date" data-o-component="o-date" datetime="{{article.publishedDate}}" data-o-date-js="" title="{{article.publishedDate}}" aria-label="{{article.publishedDate}}">{{article.publishedDate}}</time>
                        {{#article.byline}}
                            {{> byline}}
                        {{/article.byline}}
                    </div>

                    {{#article.seriesArticles}}
                        {{> series-articles }}
                    {{/article.seriesArticles}}

                    <article class="article__body n-content-body" data-content-id="{{article.id}}" data-content-sources="v1 v2">
                        {{#article.attachments}}
                            <audio controls data-trackable="audio">
                                <source src="{{url}}" type="{{mediaType}}">
                                <p>
                                    Your browser does not support playing this file but you can still <a href="{{url}}" data-trackable="download-audio">download the MP3 file</a> to play locally.
                                </p>
                            </audio>
                        {{/article.attachments}}

                        {{{article.bodyHTML}}}


                        <div class="alphaville-in-article-ad1">
                            {{> alphaville-ui/ads/templates/mpu_mobile mpu_mobile_index=1}}
                        </div>

                        <div class="alphaville-in-article-ad2">
                            {{> alphaville-ui/ads/templates/mpu_mobile mpu_mobile_index=2}}
                        </div>

                        {{#article.seriesArticles}}
                            {{> series-articles }}
                        {{/article.seriesArticles}}

                        <footer class="n-content-copyright">
                            <small>
                                <a href="http://www.ft.com/servicestools/help/copyright" data-trackable="link-copyright">Copyright</a> The Financial Times Limited 2016. All rights reserved. You may share using our article tools. Please don't cut articles from FT.com and redistribute by email or post to the web.
                            </small>
                        </footer>
                    </article>


                    {{> alphaville-ui/share/main position='bottom'}}
                    <div data-n-article-email-bottom-container=""></div>

                    {{#mostRecentPost}}
                        {{> recent-post-widget}}
                    {{/mostRecentPost}}
                </div>

                {{#article.comments.enabled}}
                    <a name="comments"></a>
                    <div data-o-component="o-comments" data-o-comments-config-title="{{article.originalTitle}}" data-o-comments-config-url="{{@root.appUrl}}{{article.av2WebUrl}}" data-o-comments-config-articleId="{{article.id}}"></div>
                {{/article.comments.enabled}}

            </div>
            <div class="article__aside o-grid-remove-gutters--XL" data-o-grid-colspan="0 L4 XL3 XLoffset1">
                {{#mostRecentPost}}
                    {{> recent-post-widget rhr='rhr'}}
                    {{> alphaville-ui/ads/templates/dmpu_desktop}}
                    {{> alphaville-ui/twitter-widget/main}}
                {{/mostRecentPost}}
                {{^mostRecentPost}}
                    {{> alphaville-ui/twitter-widget/main}}
                    {{> alphaville-ui/ads/templates/dmpu_desktop}}
                {{/mostRecentPost}}
            </div>
        </div>
    </div>
</div>
