{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />
	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

<div class="o-grid-container alphaville-article-list" data-trackable="error">
	<div class="o-grid-row">
		<div class="main" data-o-grid-colspan="12">
			{{#if error}}
				<h2>{{ message }}</h2>
				<h3>{{ error.status }}</h3>
				<pre>{{ error.stack }}</pre>
			{{else}}
				<h2>Sorry, the page is temporarily unavailable.</h2>

				<p>For help please contact <a href="mailto:alphaville@ft.com" data-trackable="link-contact">alphaville@ft.com</a></p>
				<p>We apologise for any inconvenience.</p>
			{{/if}}
		</div>
	</div>
</div>
