{{#contentFor "head"}}
<link rel="stylesheet" href="{{assetsBasePath}}/build/index.css" />
<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

<div class="o-grid-container">
	<div class="o-grid-row">
  {{#hero}}
    {{> card_hero}}
  {{/hero}}

		{{#searchResults}}

    <div class="main {{_source.cardType}}" data-o-grid-colspan="12 S6 M4 XL3">

      <div class="o-card o-card-- o-card--image-" data-o-component="o-card">

        <div class="o-card__content">
          {{#isPodcast}}

            {{> card_podcast}}

          {{/isPodcast}}

          {{^isPodcast}}

          {{#_source.primaryTheme}}
          <div class="o-card__meta card-primaryTheme">
            <a href="#" class="o-card__tag">{{this}}</a>
          </div>
          {{/_source.primaryTheme}}

          <h2 class="o-card__heading"><a href="{{_webUrl}}">{{_source.title}}</a></h2>

          <!-- div class="o-card__meta">
             by: <a href="#" class="o-card__tag">{{_source.byline}}</a>
          </div -->

          {{#isMarketLive}}
          {{!-- isMarketLive --}}
          <div class="post-openingHTML">
            <div class="description">This Markets Live session is closed. <a href="{{_webUrl}}">Read more</a></div>
            <p>Live markets commentary from FT.com</p>
          </div>
          {{/isMarketLive}}

          {{^isMarketLive}}
          {{!-- isSomethingElse --}}
          <div class="post-openingHTML">{{{_source.openingHTML}}}</div>
          {{/isMarketLive}}



          <div class="card-footer clearfix">
            <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="{{_source.publishedDate}}">{{_source.publishedDate}}</time>

            {{#_source.comments.enabled}}
            <a href="#comments" class="article__share__comments" data-o-component="o-comment-count" data-o-comment-count-config-article-id="{{_source.id}}" data-o-comment-count-config-template="{count}"></a>
            {{/_source.comments.enabled}}
          </div>

          {{/isPodcast}}

        </div>

      </div>

    </div>

		{{/searchResults}}
	</div>
</div>

{{> commentsConfig}}
