{{#contentFor "head"}}
<link rel="stylesheet" href="{{assetsBasePath}}/build/index.css" />
<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}


<div class="o-grid-container">
	<div class="o-grid-row">

		{{#searchResults}}

    <div class="main{{#isMarketLive}} marketLive{{/isMarketLive}}" data-o-grid-colspan="12 S6 M4 XL3">

      <div class="o-card o-card-- o-card--image-" data-o-component="o-card">

        <div class="o-card__content">
          <div class="o-card__meta">
            <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="{{_source.publishedDate}}">{{_source.publishedDate}}</time> by: <a href="#" class="o-card__tag">{{_source.byline}}</a>
          </div>

          <h2 class="o-card__heading"><a href="{{_webUrl}}">{{_source.title}}</a></h2>

          <div class="post-openingHTML">{{{_source.openingHTML}}}</div>


          {{#_source.comments.enabled}}
          <div class="comment-counter" data-o-component="o-comment-count" data-o-comment-count-config-article-id="{{_source.id}}"></div>
          {{/_source.comments.enabled}}

        </div>

      </div>

    </div>

		{{/searchResults}}
	</div>
</div>

{{> commentsConfig}}
