{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/meet-the-team.css" />
	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/meetTheTeam.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

<div class="o-grid-container" data-trackable="meet-the-team">
	<div class="o-grid-row">
		<div data-o-grid-colspan="12 L8">
			<h1 class="o-typography-heading1 title">Meet the Alphaville Team</h1>
			<div class="team">
				{{#team}}
					<div class="team__member">
						<div class="team__member__thumb">
							<img src="{{image headshotUrl 200 'medium'}}" />
						</div>
						<div class="team__member__info">
							<h2 class="o-typography-heading2 team__member__name" id="{{slug}}">{{displayTitle}}</h2>
							{{{content}}}
							<ul class="team__member__links">
								{{#email}}
									<li class="email">
										<a href="mailto:{{.}}?subject=ftalphaville" data-trackable="author-email">{{.}}</a>
									</li>
								{{/email}}
								{{#twitter}}
									<li class="twitter">
										<a target="_blank" href="https://twitter.com/{{.}}" data-trackable="author-twitter">{{.}}</a>
									</li>
								{{/twitter}}
								<li class="posts">
									<a href="/author?q={{title}}" data-trackable="author-post">see all posts</a>
								</li>
							</ul>
						</div>
					</div>
				{{/team}}
			</div>
		</div>
		<div data-o-grid-colspan="hide L4">
			<aside class="side-component">
				{{> alphaville-ui/twitter-widget/main}}
				{{> alphaville-ui/ads/templates/dmpu_desktop}}
			</aside>
		</div>
	</div>
</div>
