{{#contentFor "head"}}
    <link rel="stylesheet" href="{{assetsBasePath}}/build/meet-the-team.css" />
    <script>
        (function () {
            ctmLoadScript({
                src: "{{assetsBasePath}}/build/meetTheTeam.js",
                async: true
            });
        }());
    </script>
{{/contentFor}}

<div class="o-grid-container">
    <div class="o-grid-row">
        <div data-o-grid-colspan="12 L8">
            <h1 class="o-typography-heading1 title">Meet the Alphaville Team</h1>
            <div class="team">
                {{#team}}
                    <div class="team__member">
                        <div class="team__member__thumb">
                            <img src="{{main_image.url}}" />
                        </div>
                        <div class="team__member__info">
                            <h2 class="o-typography-heading2 team__member__name">{{title}}</h2>
                            {{{content}}}
                            <ul class="team__member__links">
                                <li class="email">
                                    <a href="mailto:{{email}}?subject=ftalphaville">{{email}}</a>
                                </li>
                                <li class="twitter">
                                    <a target="_blank" href="https://twitter.com/{{twitter}}">twitter: {{twitter}}</a>
                                </li>
                                <li class="posts">
                                    <a href="/author?q={{title}}">see all posts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {{/team}}
            </div>
        </div>
        <div data-o-grid-colspan="hide L4">
            <aside class="side-component">
                {{> alphaville-ui/twitter-widget/main}}
                {{> alphaville-ui/ads/templates/dmpu_desktop}}
            </aside>
        </div>
    </div>
</div>
