{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/ml-index.css" />

	<script>
		document.addEventListener('o.DOMContentLoaded', function () {
			document.addEventListener('mlIndexBundle.loaded', function () {
				mlIndexBundle.liveSessionRedirecter.init();
			});
		})

		ctmLoadScript({
			src: "{{assetsBasePath}}/build/ml-index.js",
			async: true
		}, function () {
			document.dispatchEvent(new CustomEvent('mlIndexBundle.loaded', {
				bubbles: true
			}));
		});
	</script>
{{/contentFor}}


<div class="o-grid-container">
	<div class="o-grid-row">
		<div data-o-grid-colspan="12 L8">
			<div class="o-grid-row">
				<div data-o-grid-colspan="12 M9 Moffset3">
					<div class="alphaville-ml-description">
						<h1 class="o-typography-heading1">Real-time markets discussion</h1>

						<p>Daily session streamed at 11am London time, with monthly FOMC specials in New York.</p>

					</div>
				</div>

				<div class="alphaville-article-list" data-o-grid-colspan="12">
					{{#transcripts}}
						<div class="alphaville-list-category o-grid-row">
							<div data-o-grid-colspan="12 M3">
								<div class="alphaville-list-time">
									<div class="alphaville-list-time-label">{{label}}</div>
									{{#date}}
										<time class="o-date alphaville-list-time-date" data-o-component="o-date" data-o-date-format="date-only" datetime="{{.}}"></time>
									{{/date}}
								</div>
							</div>
							<div data-o-grid-colspan="12 M9">
								<div class="alphaville-list-items">
									{{#items}}
										{{#_source}}
											<div class="alphaville-card-container">
												<div class="alphaville-card alphaville-card--list alphaville-card--marketslive" data-o-component="o-card" data-article-id="{{_id}}">
													<div class="alphaville-card__content">					
														<h3 class="alphaville-card__heading">
															<a href="{{av2WebUrl}}" data-trackable="heading">{{title}}</a>
														</h3>

														<p class="alphaville-card__standfirst">{{standfirst}}</p>
													</div>
												</div>
											</div>
										{{/_source}}

										{{^ ../withoutAds}}
											{{> list-cards/adBetweenCards}}
										{{/ ../withoutAds}}
									{{/items}}
								</div>
							</div>
						</div>
					{{/transcripts}}

					<div class="o-grid-row">
						<div data-o-grid-colspan="12">
							{{#pagination}}
								{{> alphaville-ui/pagination/main}}
							{{/pagination}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div data-o-grid-colspan="hide L4">
			<aside class="side-component">
                {{> alphaville-ui/twitter-widget/main}}
				{{> alphaville-ui/ads/templates/dmpu_desktop}}
			</aside>
		</div>
	</div>
</div>
