{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/article.css" />

	<script>
		document.addEventListener('o.DOMContentLoaded', function () {
			document.addEventListener('articleBundle.loaded', function () {
				articleBundle.init('{{mlApiUrl}}');
			});
		})

		ctmLoadScript({
			src: "{{assetsBasePath}}/build/article.js",
			async: true
		}, function () {
			document.dispatchEvent(new CustomEvent('articleBundle.loaded', {
				bubbles: true
			}));
		});
	</script>

	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/article.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

<div class="article__wrapper" data-trackable="marketslive-transcript">
	<div class="o-grid-container">
		<div class="o-grid-row">
			<div data-o-grid-colspan="12 L8 XL7 XLoffset1">
				<div class="article__header">
					<div class="article__header-inner">
						<header class="article__header--wrapper ">
							<div class="article__header-primary">
								<h1 class="article__title">{{article.title}}</h1>
								<div class="article__header-secondary">
									<p class="article__stand-first">{{article.standfirst}}</p>
								</div>
							</div>
						</header>
					</div>
				</div>

				<div class="article__main">
					{{> alphaville-ui/share/main position='top'}}

					<div class="article__time-byline">
						<time class="article__timestamp o-date" data-o-component="o-date" datetime="{{article.publishedDate}}" title="{{article.publishedDate}}" aria-label="{{article.publishedDate}}">{{article.publishedDate}}</time>
					</div>
					<ul class="article__author-headshots">
						{{#article.authors}}
							<li>
								<a href="/author/{{name}}" data-trackable="author-headshot">{{#headshotUrl}}<img src="{{.}}" />{{/headshotUrl}} {{name}}</a>
							</li>
						{{/article.authors}}
					</ul>


					<article class="article__body n-content-body" data-content-id="{{article.id}}" data-content-sources="v1 v2">
						{{{article.bodyHTML}}}

						<div class="alphaville-in-article-ad1">
							{{> alphaville-ui/ads/templates/mpu_mobile mpu_mobile_index=1}}
						</div>

						<div class="alphaville-in-article-ad2">
							{{> alphaville-ui/ads/templates/mpu_mobile mpu_mobile_index=2}}
						</div>

						{{> copyright}}
					</article>

					{{> alphaville-ui/share/main position='bottom'}}
					<div data-n-article-email-bottom-container=""></div>
				</div>
			</div>
			<div class="article__aside o-grid-remove-gutters--XL" data-o-grid-colspan="0 L4 XL3 XLoffset1">
				{{> alphaville-ui/twitter-widget/main}}
				{{> alphaville-ui/ads/templates/dmpu_desktop}}
			</div>
		</div>
	</div>
</div>
