{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/article.css" />
	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/article.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

<div class="article__header">
	<div class="o-grid-container">
		<div class="article__header-inner o-grid-row">
			<div data-o-grid-colspan="12 L8 XL7 XLoffset1">
				<header class="article__header--wrapper ">
					<div class="article__header-primary">
						<h1 class="article__title">{{article.title}}</h1>
					</div>
				</header>
			</div>
		</div>
	</div>
</div>

<div class="article__wrapper ">
	<div class="o-grid-container">
		<div class="o-grid-row">
			<div data-o-grid-colspan="12 L12 XL11 XLoffset1">
				{{> shareComponent position='top'}}

				<div class="article__time-byline">
					<time class="article__timestamp o-date" data-o-component="o-date" datetime="{{article.publishedDate}}" title="{{article.publishedDate}}" aria-label="{{article.publishedDate}}">{{article.publishedDate}}</time>
					<p class="article__byline">by: {{article.byline}}</p>
				</div>
			</div>
		</div>

		<div class="o-grid-row">
			<div class="ml-tabs-container" data-o-grid-colspan="12 Mhide">
				<ul data-o-component="o-tabs" class="o-tabs ml-tabs" role="tablist" data-o-tabs-disablefocus="true">
					<li role="tab"><a href="#ml-main-content">MarketsLive</a></li>
					<li role="tab"><a href="#ml-user-comments">Comments</a></li>
				</ul>
			</div>
		</div>
		<div class="o-grid-row article__main">
			<div data-o-grid-colspan="12 M8 XL7 XLoffset1" id="ml-main-content" class="o-tabs__tabpanel ml-tab-content">
				<div class="article__body n-content-body">
					{{{article.bodyHTML}}}

					<footer class="n-content-copyright">
						<small>
							<a href="http://www.ft.com/servicestools/help/copyright" data-trackable="link-copyright">Copyright</a> The Financial Times Limited 2016. All rights reserved. You may share using our article tools. Please don't cut articles from FT.com and redistribute by email or post to the web.
						</small>
					</footer>
				</div>
			</div>
			<div data-o-grid-colspan="hide M4 XL3 XLoffset1" id="ml-user-comments" class="o-tabs__tabpanel ml-tab-content">
				<div class="mpu"></div>
			</div>
		</div>
		
		<div class="o-grid-row">
			<div data-o-grid-colspan="12 L12 XL11 XLoffset1">
				{{> shareComponent position='bottom'}}
				<div data-n-article-email-bottom-container=""></div>
			</div>
		</div>
	</div>
</div>


{{> commentsConfig}}
