{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />
	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

<div class="o-grid-container alphaville-article-list" data-trackable="search-results">
	<div class="o-grid-row">
		<div class="main" data-o-grid-colspan="L8">
			<div class="article-list">
				{{#if isSearch}}
					<h1 class="o-typography-heading-level-1">Search results{{#if searchTerm}}: {{searchTerm}}{{/if}}</h1>
				{{else}}
					{{#if teamMember}}
						<div class="alphaville-team__member clearfix">
							<div class="team__member__title">
								<h1 class="o-typography-heading-level-1">{{searchTerm}}</h1>
								<a href="/meet-the-team#{{teamMember.slug}}">Read Biography</a>
							</div>

							<div class="team__member__thumb">
								<img src="{{image teamMember.headshotUrl 200 'medium'}}" />
							</div>

						</div>

					{{else}}
						<h1 class="o-typography-heading-level-1">{{searchTerm}}</h1>

					{{/if}}
				{{/if}}

				{{#if searchResults}}
					{{#each searchResults}}
						{{> list-cards/item withInlineRead=false}}
					{{/each}}
				{{else}}
					{{#if message}}
						<p>{{message}}</p>
					{{else}}
						<p>No search results were found.</p>
					{{/if}}
				{{/if}}
			</div>

			<div class="o-grid-row">
				<div data-o-grid-colspan="12">
					{{#pagination}}
						{{> alphaville-ui/pagination/main}}
					{{/pagination}}
				</div>
			</div>
		</div>
		<div data-o-grid-colspan="hide L4">
			{{> alphaville-ui/twitter-widget/main}}
			{{> alphaville-ui/ads/templates/dmpu_desktop}}
		</div>
	</div>
</div>
