<div class="alphaville-card-container">
	<div class="alphaville-card alphaville-card--list alphaville-card--marketslive" data-o-component="o-card" data-article-id="{{_id}}">
		<div class="alphaville-card__content">
			<div class="alphaville-card__theme">
				<a href="/marketslive" class="alphaville-card__tag {{#isLive}}alphaville-card__live-title{{/isLive}}" data-trackable="theme">
					{{^isLive}}Markets Live{{/isLive}}
					{{#isLive}}
						<strong>Markets Live</strong>
						<span class="alphaville-card__live-notification-icon"></span>
					{{/isLive}}
				</a>
			</div>
			
			<h3 class="alphaville-card__heading">
				<a href="{{_source.av2WebUrl}}" data-trackable="heading">{{_source.title}}</a>
			</h3>

			<p class="alphaville-card__standfirst">{{_source.standfirst}}</p>

			<time data-o-component="o-date" class="o-date alphaville-card__timestamp" datetime="{{_source.publishedDate}}">{{_source.publishedDate}}</time>
		</div>
	</div>
</div>
