<div class="alphaville-card o-card o-card--landscape o-card--image-" data-o-component="o-card">
	<div class="o-card__content">
		{{#if _source.authors}}
			<div class="o-card__meta">
				<ul class="alphaville-card--inline-list">
					{{#_source.authors}}
						<li>
							<a href="/author?q={{name}}" class="o-card__tag">{{name}}</a>
						</li>
					{{/_source.authors}}
				</ul>
			</div>
		{{else}}
			{{#_source.primaryTheme}}
				<div class="o-card__meta">
					<a href="/search?q={{.}}" class="o-card__tag">{{.}}</a>
				</div>
			{{/_source.primaryTheme}}
		{{/if}}

		<h3 class="o-card__heading">
			<a href="{{_source.av2WebUrl}}">{{_source.title}}</a>
		</h3>

		<p class="o-card__standfirst">{{{_source.summaries.[0]}}}</p>

		<time data-o-component="o-date" class="o-date alphaville-card__timestamp" datetime="{{_source.publishedDate}}">{{_source.publishedDate}}</time>
	</div>
</div>
