<div class="alphaville-card-container">
	<div class="alphaville-card alphaville-card--list" data-trackable="card" data-article-id="{{id}}">
		<div class="alphaville-card__content">

			{{#primaryTheme}}
				<div class="alphaville-card__meta">
					<a href="{{url}}" class="alphaville-card__tag" data-trackable="theme"><span class="alphaville-card__tag-part1">First</span> <span class="alphaville-card__tag-part2">FT</span></a>
				</div>
			{{/primaryTheme}}

			<h3 class="alphaville-card__heading">
				<a href="{{av2WebUrl}}" data-trackable="heading">{{title}}</a>
			</h3>

			{{#if withImage}}
				<div class="alphaville-card__image">
					<a href="{{av2WebUrl}}" data-trackable="image"><img src="{{image mainImage.url 740 'medium'}}" alt="{{mainImage.title}}" /></a>
				</div>

				{{> grid-cards/elements/standfirst}}

				<div class="alphaville-card__footer">
					{{!-- Comment count will be reintroduced once migration is complete --}}
					{{!-- {{> comment-counter}} --}}
					{{> timestamp}}
				</div>
			{{else}}
				{{> grid-cards/elements/standfirst}}

				<div class="alphaville-card__footer">
					{{!-- Comment count will be reintroduced once migration is complete --}}
					{{!-- {{> comment-counter}} --}}
					{{> timestamp}}
				</div>
			{{/if}}
		</div>
	</div>
</div>
