<div class="alphaville-card-container">
	<div class="alphaville-card alphaville-card--list {{#if isSeriesArticle}} alphaville-card--series{{/if}}{{#if isAlphachat}} alphaville-card--alphachat{{/if}}{{#if isPodcast}} alphaville-card--podcast{{/if}}" data-o-component="o-card" data-article-id="{{_id}}">
		<div class="alphaville-card__content">
			{{#if isAlphachat}}
				{{#_source.primaryTheme}}
					<div class="alphaville-card__theme">
						<a href="/alphachat" class="alphaville-card__tag" data-trackable="theme">{{.}}</a>
					</div>
				{{/_source.primaryTheme}}
			{{else}}
				{{#if isSeriesArticle}}
					{{#_source.primaryTheme}}
						<div class="alphaville-card__theme">
							<a href="/search?q={{.}}" class="alphaville-card__tag" data-trackable="theme">{{.}}</a>
						</div>
					{{/_source.primaryTheme}}
				{{else}}
					{{#if _source.authors}}
						<div class="alphaville-card__meta">
							<ul class="alphaville-card--inline-list">
								{{#_source.authors}}
									<li>
										<a href="/author?q={{name}}" class="alphaville-card__tag" data-trackable="author">{{name}}</a>
									</li>
								{{/_source.authors}}
							</ul>
						</div>
					{{else}}
						{{#_source.primaryTheme}}
							<div class="alphaville-card__meta">
								<a href="/search?q={{.}}" class="alphaville-card__tag" data-trackable="theme">{{.}}</a>
							</div>
						{{/_source.primaryTheme}}
					{{/if}}
				{{/if}}
			{{/if}}

			<h3 class="alphaville-card__heading">
				<a href="{{_source.av2WebUrl}}" data-trackable="heading">{{_source.title}}</a>
			</h3>

	        {{#_source.seriesArticles}}
	            {{> series-articles }}
	        {{/_source.seriesArticles}}


			{{#if withImage}}
				<div class="alphaville-card__image">
                    <a href="{{_source.av2WebUrl}}" data-trackable="image"><img src="{{image _source.mainImage.url 740 'medium'}}" alt="{{_source.mainImage.title}}" /></a>
				</div>

				<p class="alphaville-card__standfirst">{{{_source.standfirst}}}</p>

				<div class="alphaville-card__footer">
					{{> comment-counter}}
					<time data-o-component="o-date" class="o-date alphaville-card__timestamp" datetime="{{_source.publishedDate}}">{{_source.publishedDate}}</time>
				</div>
			{{else}}
				<p class="alphaville-card__standfirst">{{{_source.standfirst}}}</p>

				<div class="alphaville-card__footer">
					{{> comment-counter}}
					<time data-o-component="o-date" class="o-date alphaville-card__timestamp" datetime="{{_source.publishedDate}}">{{_source.publishedDate}}</time>
				</div>
			{{/if}}
		</div>
	</div>

	{{> list-cards/inlineRead}}
</div>
