{{#if isOpeningQuote}}
	{{#_source.primaryTheme}}
		<div class="alphaville-card__theme">
			<a href="/search?q={{.}}" class="alphaville-card__tag" data-trackable="theme">{{.}}</a>
		</div>
	{{/_source.primaryTheme}}
{{else}}
	{{#if isGuestPost}}
		{{#_source.primaryTheme}}
			<div class="alphaville-card__theme">
				<a href="/search?q={{.}}" class="alphaville-card__tag" data-trackable="theme">{{.}}</a>
			</div>
		{{/_source.primaryTheme}}
	{{else}}
		{{#if isAlphachat}}
			{{#_source.primaryTheme}}
				<div class="alphaville-card__theme">
					<a href="/search?q={{.}}" class="alphaville-card__tag" data-trackable="theme">{{.}}</a>
				</div>
			{{/_source.primaryTheme}}
		{{else}}
			{{#if isSeriesArticle}}
				{{#_source.primaryTheme}}
					<div class="alphaville-card__theme">
						<a href="/search?q={{.}}" class="alphaville-card__tag" data-trackable="theme">Part of the {{.}} series</a>
					</div>
				{{/_source.primaryTheme}}
			{{else}}
				{{#if _source.authors}}
					<div class="alphaville-card__theme">
						<a href="/author?q={{_source.authors.[0].name}}" class="alphaville-card__tag" data-trackable="theme">{{_source.authors.[0].name}}</a>
					</div>
				{{else}}
					{{#_source.primaryTheme}}
						<div class="alphaville-card__theme">
							<a href="/search?q={{.}}" class="alphaville-card__tag" data-trackable="theme">{{.}}</a>
						</div>
					{{/_source.primaryTheme}}
				{{/if}}
			{{/if}}
		{{/if}}
	{{/if}}
{{/if}}
