<div class="alphaville-card-container" data-o-grid-colspan="12 S12 M8">
	<div class="alphaville-card alphaville-card--fill-space alphaville-card--hero o-card" data-o-component="o-card" data-article-id="{{_id}}">
		<div class="alphaville-card__content">
			{{#if withImage}}
				<a href="{{_source.av2WebUrl}}">
					<img class="alphaville-card__image" src="{{image _source.mainImage.url 250 'low'}}" alt="{{_source.mainImage.title}}">
				</a>
			{{/if}}

			{{> grid-cards/elements/primaryTheme}}

			{{> grid-cards/elements/heading}}

			{{> grid-cards/elements/standfirst}}

			<div class="alphaville-card__footer">
				{{> comment-counter}}
				<time data-o-component="o-date" class="o-date alphaville-card__timestamp" datetime="{{_source.publishedDate}}">{{_source.publishedDate}}</time>
			</div>
		</div>
	</div>

	{{#if curation}}
		{{> curation}}
	{{/if}}
</div>
