<div class="alphaville-card-container" data-o-grid-colspan="12 S6 M4" data-trackable="card">
	<div class="alphaville-card alphaville-card--grid alphaville-card--fill-space {{#if seriesArticles}} alphaville-card--series{{/if}}{{#if isPodcast}} alphaville-card--podcast{{/if}}" data-article-id="{{id}}" data-card-type="blog" data-trackable="blog">
		<div class="alphaville-card__content">
			{{> grid-cards/elements/primaryTheme}}

			{{> grid-cards/elements/heading}}

			{{#if isPodcast}} 
				{{#if withImage}}
					<a href="{{av2WebUrl}}" data-trackable="image">
						<img class="alphaville-card__image" src="{{image mainImage.url 80 'low'}}" alt="{{mainImage.title}}">
					</a>
				{{/if}}
			{{else}}
				{{> grid-cards/elements/standfirst}}
			{{/if}}

			<div class="alphaville-card__footer">
				{{!-- Comment count will be reintroduced once migration is complete --}}
				{{!-- {{> comment-counter}} --}}
				{{> timestamp}}
			</div>
		</div>
	</div>

	{{#if curation}}
		{{> curation}}
	{{/if}}
</div>
